.menuclass .mydiv {
    height: 80px; /*высота открывающегося блока - не обязательный пункт*/
    width: 200px;/*ширина блока*/
    background: darksalmon; /*фон*/
    display: none; /*скрываем все пункты меню*/
    position: absolute;
    cursor: pointer;
    top: 70px;
}

.menuclass .button {
  width: 200px;
  color: #fff; /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(212,75,56); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: 0;
  position: absolute;
  right: 0px;
}

.button:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.button:active { background: rgb(152,15,0); } /* при нажатии */

.tablebutton {
  width: 200px;
  height: 70px;
  color: rgb(0, 0, 0); /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(255, 160, 122); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: 0;
}

.tablebutton:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.tablebutton:active { background: rgb(152,15,0); } /* при нажатии */

.title {
  width: 200px;
  height: 70px;
  color: rgb(0, 0, 0); /* цвет текста */
  text-decoration: none; /* убирать подчёркивание у ссылок */
  user-select: none; /* убирать выделение текста */
  background: rgb(255, 160, 122); /* фон кнопки */
  padding: .7em 1.5em; /* отступ от текста */
  outline: none; /* убирать контур в Mozilla */
  border: 0;
}

.title:hover { background: rgb(232,95,76); } /* при наведении курсора мышки */
.title:active { background: rgb(152,15,0); } /* при нажатии */

.herading{
 display: block;
 font-size: 35px;
 font-weight: 700;
 padding: 35px 0;
 border-bottom: 1px solid #f0f0f0;
 margin-bottom: 30px;
}

