{% extends "base.html" %}

{% load static %}

{% block title %}Жалоба на голосование{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
             <div class="col-md-offset-3 col-md-6">
                 <form class="form-horizontal" style="overflow-x: hidden;" method="POST">
                     {% csrf_token %}
                     <span class="heading">Жалоба на голосование</span>
                     <p style="margin-top: -10px; margin-bottom: 30px;">Пожалуйста, подробно опишите причину жалобы.<br> Мы постараемся как можно быстрее принять необходимые меры.</p>

                     <textarea name="complaint" placeholder="Причина жалобы" cols="30" rows="4" style="width: 700px;"></textarea><br>
                     <input type="submit" value="Отправить">
                 </form>
             </div>
        </div>
    </div>
{% endblock %}
