{% extends "base.html" %}

{% load static %}

{% block title %}Создать голосование{% endblock %}

{% block extended_css %}
    <script src="{% static 'js/create_voting.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/menu.css/' %}">
    <link rel="stylesheet" href="{% static 'css/create_voting.css/' %}">
{% endblock %}

{% block content %}
        <div class="container">
            <div class="row">
                 <div class="col-md-offset-3 col-md-6">
                     <form class="form-horizontal" method="POST" style="overflow-x: hidden;" >
                         {% csrf_token %}
                         <span class="heading" style="margin-bottom: -40px;">Создать голосование</span>

                         <div style="margin-top: 70px;">
                             <input name="voting_name" type="text" required placeholder="Название голосования">
                             <br>

                             <textarea style="width: 190px;" name="voting_question" required placeholder="Вопрос голосования"></textarea>
                             <br><br><br><br>
                             <p style="text-align: left;"><b>Тип голосования:</b></p>
                             <input type="button" onclick="return openType(1);" value="Один вариант из списка">
                             <input type="button" onclick="return openType(2);" value="Несколько вариантов из списка">
                             <input type="button" onclick="return openType(3);" value="Дискретное">
                             <ul class="mydiv1">
                                 <textarea name="variants" placeholder="Варианты через запятую" cols="30" rows="4"></textarea><br>
                             </ul>
                             <ul class="mydiv2">
                                 <textarea name="variant3" placeholder="Варианты через запятую" cols="30" rows="4"></textarea><br>
                             </ul>
                             <ul class="mydiv3">
                                 <input name="variant1" type="text" placeholder="Первый вариант ответа">
                                 <input name="variant2" type="text" placeholder="Второй вариант ответа">
                             </ul>
                             <br>
                             <input type="submit" class="btn btn-success" style="background-color: #12c064; margin-top: 20px; margin-right: 50px;" value="СОЗДАТЬ">
                             {% csrf_token %}
                         </div>
                     </form>
                 </div>
            </div>
        </div>



<script>
    openType(1);
</script>

{% endblock %}