{% extends "base.html" %}

{% load static %}

{% block title %}{{ voting.voting_name }}{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block content %}
    {% if author %}
        <form method="POST" style="margin-top: 40px; margin-left: 90px; margin-bottom: 0px;">
            {% csrf_token %}
            <div style="display: flex; flex-direction: row; justify-content: flex-start; align-items: baseline;">
                <input type="submit" value="Удалить" class="btn btn-danger" name="delete vote" style="background-color: #d9534f; font-size: 14px; text-transform: none; font-weight: normal; width: 107.38px; height: 34px; text-align: center; padding: 6px 6px 6px 6px; margin-right: 30px;">
                <input type="button" value="Редактировать" class="btn btn-warning" style="padding-left: 20px; padding-right: 20px; margin-top: 10px; margin-right: 30px;"
                onclick="location.href='{% url 'votings:edit_vote' voting.id %}'">
                <input type="button" value="Просмотреть жалобы" class="btn btn-info"
                onclick="location.href='{% url 'votings:showcomplaints' voting.id %}'">
            </div>
        </form>
    {% else %}

        <form method="POST">
             <input type="button" class="btn btn-warning" style="margin-top: 40px; margin-left: 90px;" value="Пожаловаться"
                onclick="location.href='{% url 'votings:complaint' voting.id %}'">
        </form>
    {% endif %}


    <div class="container">
        <div class="row">
             <div class="col-md-offset-3 col-md-6">
                 <form class="form-horizontal" style="overflow-x: hidden; font-family: Helvetica;" method="POST">

                     <span class="heading">{{ voting.voting_name }}</span>

                     <p style="text-align: left;"><b>&#160;Автор голосования:</b> <b><a href="/profile/{{ voting.author.username }}">{{ voting.author.username }}</a></b></p>

    <p>{{ voting.voting_question}}</p>

                     <p style="text-align: left;"><b>&#160;Проголосовало:</b> {{ voting.votes_number }} человек(-а)</p><br>

                     <p style="text-align: left; font-style: italic;"><b>&#160;Дата публикации:</b> {{ voting.pub_date }}</p>
    <br>
    <h3>Варианты ответов:</h3>
    <form method="POST">
        <div style="text-align: left; font-size: 15px; line-height: 1.55;">
        {% for c in variants %}
            {% if voting.voting_type == "2" %}
            <input type = "checkbox" style="margin-bottom: 7px;" name = "{{ c }}" value="{{ c }}"> {{ c }}

            {% else %}
            <input type = "radio" name = "checkboxes" style="margin-bottom: 7px; " value="{{ c }}"/> &#160;&#160;&#160;&#160;{{ c }}
            {% endif %}
            <br>
        {% endfor %}
        <input type="submit" style="margin-top: 20px; float: right;" name="send" value="Отправить">
        {% csrf_token %}
            </div>
    </form>

    {% if author %}
                     <div style="font-size: 15px;">
                     <h3 style="text-align: center; margin-top: -15px;">Итоги голосования:</h3>
        {% for c in num_of_voters %}
                         <b>{{ c }}</b> человек(-а)
            <br>
        {% endfor %}
                         </div>
    {% endif %}
                 </form>
             </div>
        </div>
    </div>

<h3 style="text-align: center; margin-top: 50px;"><b>Комментарии ({{ voting.commentary_number }}):</b></h3><br>

<div style="margin-left: 25%;">
    {% if latest_comments_list %}
        {% for c in latest_comments_list %}
            <strong><a href="/profile/{{ c.author_name }}">{{ c.author_name }}:</a></strong>
            <p>{{ c.comment_text }}</p>
        {% endfor %}
    {% else %}
        <p>Комментарии не найдены! Станьте первым ;)</p>
    {% endif %}
<br><br>
    <form action="{% url 'votings:add_comment' voting.id %}" method="POST">
        {% csrf_token %}
        <textarea name="text" placeholder="Текст комментария" cols="85" rows="2" width="100px" height="20px"></textarea><br><br>
        <button type="submit" style="margin-bottom: 100px; margin-top: 20px; margin-right: 500px;" class="btn btn-info">Оставить комментарий</button>
    </form>

</div>


{% endblock %}