{% extends "base.html" %}

{% load static %}

{% block title %}Просмотр жалоб{% endblock %}

{% block extended_css %}
    <script src="{% static 'js/create_voting.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/menu.css/' %}">
    <link rel="stylesheet" href="{% static 'css/create_voting.css/' %}">
{% endblock %}

{% block content %}
    {% if not empty %}
        <div class="container">
                    <div class="row">
                         <div class="col-md-offset-3 col-md-6">
                             <form class="form-horizontal" method="POST" style="overflow-x: hidden;" >
                                 {% csrf_token %}
                                 <span class="heading" style="margin-bottom: -40px;">Жалобы на статью<br> "{{ voting.voting_name }}"</span>
        </form>
                             <div style="margin-top: 30px; font-size: 15px;">
                                 <ol>
                                 {% for c in complaints %}
                                     <li>{{ c }}</li>
        {% endfor %}
                                     </ol>
                                 </div>

                         </div>
                    </div>
                </div>
    {% else %}
        <div class="container">
            <div class="row">
                 <div class="col-md-offset-3 col-md-6">
                     <form class="form-horizontal" method="POST" style="overflow-x: hidden;" >
                         {% csrf_token %}
                         <span class="heading" style="margin-bottom: -40px;">Жалоб нет - можете спать спокойно</span>
                         <p style="margin-top: 50px;">Жалоб по вашему голосованию не обнаружено!</p>
                     </form>
                 </div>
            </div>
        </div>
    {% endif %}
{% endblock %}