{% extends "base.html" %}

{% load static %}

{% block title %}Голосования{% endblock %}

{% block extended_css %}
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <button type="button" class="btn btn-success" onclick="location.href='createvote/'" style="margin-top: 40px; margin-left: 90px; margin-bottom: -20px;">Создать голосование</button>
    {% endif %}

    {% if votings_list %}
        <div class="container" style="margin-bottom: 0;">
            <div class="row" style="margin-bottom: 0;">
                 <div class="col-md-offset-3 col-md-6" style="margin-bottom: 0;">
                     <form class="form-horizontal" style="overflow-x: hidden; margin-bottom: 0;" method="POST">
                         {% csrf_token %}
                         <span class="heading" style="margin-bottom: -40px;">Список голосований</span>
                     </form>
                 </div>
            </div>
        </div>

        {% for voting in votings_list %}
        <div style="margin-left: 90px; margin-top: 50px; margin-bottom: 10px;">
            <h2>
            <a href="{% url 'votings:detail' voting.id %}" style="text-decoration: none;">
               <b> {{ voting.voting_name }}</b>
            </a><br>
                </h2>
            <font color="black" style="font-family: 'Raleway', sans-serif;">by {{ voting.author.username }}. {{ voting.pub_date }}</font>
        </div>
        {% endfor %}

        <div style="margin-bottom: 100px;">

        </div>
    {% else %}
        <div class="container">
            <div class="row">
                 <div class="col-md-offset-3 col-md-6">
                     <form class="form-horizontal" style="overflow-x: hidden;" method="POST">
                         {% csrf_token %}
                         <span class="heading">Голосования не найдены!</span>
                         <p>Ошибка! Для вас нет доступных голосований!</p>
                     </form>
                 </div>
            </div>
        </div>
    {% endif %}
{% endblock %}