{% extends "base.html" %}

{% load static %}

{% block title %}Регистрация{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{% static 'css/base.css/' %}">
{% endblock %}

{% block content %}
    <div width="300px" height="100px" class="container" style="">
    {% if username and password and not username_error and not email_error %}
        <!--<h2 style="text-align: center; color: black; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; */">Вы успешно зарегистрировались!</h2>
-->
        <p style="text-align: center; color: black; font-family: Helvetica,sans-serif; font-size: 20px;">
            <b>Ваш логин:</b> {{ username }}<br>
            <b>Ваш пароль:</b> {{ password }}
        </p>
    {% else %}


        <!--
        <form method="POST" style="width: 300px; margin: 0 auto;">
            {% csrf_token %}
            {{ form.username.label }} : {{ form.username }}<br><br>
            {{ form.password.label }} : {{ form.password }}<br><br>
            {{ form.email.label }} : {{ form.email }}<br><br>
            <button type="submit" class="btn btn-success btn-lg">Register</button>

        </form><-->

    </div>

    <div class="container">
        <div class="row">
             <div class="col-md-offset-3 col-md-6">
                 <form class="form-horizontal" style="overflow-x: hidden;" method="POST">
                     {% csrf_token %}
                     <span class="heading">Регистрация</span>
                     <p style="margin-top: -10px;">Пожалуйста, заполните данные формы, чтобы зарегистрироваться.</p>

                     <div class="form-group">
                         <input class="form-control" id="inputUsername" placeholder="Username" name="username">
                         <i class="fa fa-user"></i>
                     </div>

                     <div class="form-group help">
                         <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                         <i class="fa fa-lock"></i>
                         <!--<a href="ЛОЛ" class="fa fa-question-circle"></a>-->
                     </div>

                     <div class="form-group help">
                         <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                         <i class="fa fa-lock"></i>
                         <!--<a href="#" class="fa fa-question-circle"></a>-->
                     </div>

                     <!--<div class="form-group">
                         <div class="main-checkbox">
                             <input type="checkbox" value="none" id="checkbox1" name="check"/>
                             <label for="checkbox1"></label>
                         </div>
                         <span class="text">Запомнить</span><-->

                         <button type="submit" class="btn btn-default" style="background-color: #12c064;">ЗАРЕГИСТРИРОВАТЬСЯ</button>

                 </form>
             </div>
        </div>
    </div>
    {% endif %}
    {% include "inc/footer.html" %}

{% endblock %}

