{% extends "base.html" %}

{% load static %}

{% block title %}Профиль {{ user.username }}{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
             <div class="col-md-offset-3 col-md-6">
                 <form class="form-horizontal" style="overflow-x: hidden;" method="POST">
                     {% csrf_token %}
                     <span class="heading">Учётная запись</span>

                     <p style="text-align: left; font-size: 17px; font-family: 'Open Sans', sans-serif;"><b>Username:</b> {{ user.username }}</p>

                     <p style="text-align: left; font-size: 17px; font-family: 'Open Sans', sans-serif;"><b>E-mail:</b> {{ user.email }}</p>


                     <!--{{ form.password }}-->

                     <!--<div class="form-group">
                         <input class="form-control" id="inputUsername" placeholder="Username" name="username">
                         <i class="fa fa-user"></i>
                     </div>

                     <div class="form-group help">
                         <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                         <i class="fa fa-lock"></i>
                         <a href="ЛОЛ" class="fa fa-question-circle"></a>
                     </div>

                     <div class="form-group help">
                         <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                         <i class="fa fa-lock"></i>
                         <a href="#" class="fa fa-question-circle"></a>
                     </div>-->

                     <!--<div class="form-group">
                         <div class="main-checkbox">
                             <input type="checkbox" value="none" id="checkbox1" name="check"/>
                             <label for="checkbox1"></label>
                         </div>
                         <span class="text">Запомнить</span><-->

                        {% if user.username == request.user.username %}
                         <button type="button" class="btn btn-default" onclick="location.href='/password_change'" style="background-color: #12c064; float: none; margin: 0;">ИЗМЕНИТЬ ПАРОЛЬ</button>
                        {% endif %}
                 </form>
             </div>
        </div>
    </div>

   <div class="container" style="margin-bottom: 0;">
            <div class="row" style="margin-bottom: 0;">
                 <div class="col-md-offset-3 col-md-6" style="margin-bottom: 0;">
                     <form class="form-horizontal" style="overflow-x: hidden; margin-bottom: 0;" method="POST">
                         {% csrf_token %}
                         <span class="heading" style="margin-bottom: -40px;">История пользователя</span>
                     </form>
                     <br><p style="text-align: left; font-size: 17px; font-family: 'Open Sans', sans-serif;"><b>Количество созданных голосований:</b> {{ nums_of_votings }}</p>
                     <p style="text-align: left; font-size: 17px; font-family: 'Open Sans', sans-serif;"><b>Количество отданных голосов:</b> {{ nums_of_votes }}</p>
                 </div>
            </div>
   </div>

   <div class="container" style="margin-bottom: 0;">
            <div class="row" style="margin-bottom: 0;">
                 <div class="col-md-offset-3 col-md-6" style="margin-bottom: 0;">
                     <form class="form-horizontal" style="overflow-x: hidden; margin-bottom: 0;" method="POST">
                         {% csrf_token %}
                         <span class="heading" style="margin-bottom: -40px;">Голосования пользователя</span>
                     </form>
                        {% if votings_list %}
                             {% for voting in votings_list %}
                                 <div style="margin-left: 90px; margin-top: 10px; margin-bottom: 5px;">
                                     <h2>
                                         <a href="{% url 'votings:detail' voting.id %}" style="text-decoration: none;">
                                         <b> {{ voting.voting_name }}</b>
                                         </a><br>
                                     </h2>
                                     <font color="black" style="font-family: 'Raleway', sans-serif;">by {{ voting.author.username }}. {{ voting.pub_date }}</font>
                                 </div>
                             {% endfor %}
                            <div style="margin-bottom: 100px;"></div>
                        {% else %}
                            <br><p style="text-align: center; margin-bottom: 100px; font-size: 17px; font-family: 'Open Sans', sans-serif;">Этот пользователь ещё не создавал голосований!</p>
                     {% endif %}
                 </div>
            </div>
   </div>



    {% include "inc/footer.html" %}
{% endblock %}
