{% extends "base.html" %}

{% load static %}

{% block title %}Вход{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block content %}
<!--<div class="container">
        <div class="row">
             <div class="col-md-offset-3 col-md-6">
                 <form class="form-horizontal" style="overflow-x: hidden;" method="POST">
                     {% csrf_token %}
                     <span class="heading">Регистрация</span>

                     <div class="form-group">
                         <input class="form-control" id="inputUsername" placeholder="Username" name="username">
                         <i class="fa fa-user"></i>
                     </div>

                     <div class="form-group help">
                         <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                         <i class="fa fa-lock"></i>
                         <a href="ЛОЛ" class="fa fa-question-circle"></a>
                     </div>

                     <div class="form-group help">
                         <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                         <i class="fa fa-lock"></i>
                         <a href="#" class="fa fa-question-circle"></a>
                     </div>
-->
                     <!--<div class="form-group">
                         <div class="main-checkbox">
                             <input type="checkbox" value="none" id="checkbox1" name="check"/>
                             <label for="checkbox1"></label>
                         </div>
                         <span class="text">Запомнить</span><

                         <button type="submit" class="btn btn-default" style="background-color: #12c064;">ЗАРЕГИСТРИРОВАТЬСЯ</button>

                 </form>
             </div>
        </div>
    </div>-->

    <div class="container">
        <div class="row">
             <div class="col-md-offset-3 col-md-6">
                 <form class="form-horizontal" style="overflow-x: hidden;" method="POST">
                     {% csrf_token %}
                     <span class="heading">Вход</span>
                     <p style="margin-top: -10px;">Пожалуйста, заполните данные формы, чтобы войти.<br>Ещё нет аккаунта? <a href="/registration">Зарегистрируйтесь</a></p>

                     <div class="form-group">
                         <input class="form-control" id="inputUsername" placeholder="Username" name="username">
                         <i class="fa fa-user"></i>
                     <!--{{ form.username }}-->
                     </div>

                     <div class="form-group help">
                         <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                         <i class="fa fa-lock"></i>
                         <!--<a href="ЛОЛ" class="fa fa-question-circle"></a>-->
                     </div>

                     <!--{{ form.password }}-->

                     <!--<div class="form-group">
                         <input class="form-control" id="inputUsername" placeholder="Username" name="username">
                         <i class="fa fa-user"></i>
                     </div>

                     <div class="form-group help">
                         <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password">
                         <i class="fa fa-lock"></i>
                         <a href="ЛОЛ" class="fa fa-question-circle"></a>
                     </div>

                     <div class="form-group help">
                         <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email">
                         <i class="fa fa-lock"></i>
                         <a href="#" class="fa fa-question-circle"></a>
                     </div>-->

                     <!--<div class="form-group">
                         <div class="main-checkbox">
                             <input type="checkbox" value="none" id="checkbox1" name="check"/>
                             <label for="checkbox1"></label>
                         </div>
                         <span class="text">Запомнить</span><-->

                         <button type="submit" class="btn btn-default" style="background-color: #12c064;">ВОЙТИ</button>

                 </form>
             </div>
        </div>
    </div>
{% endblock %}
