{% extends "base.html" %}

{% load static %}

{% block title %}Пароль успешно изменён{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
             <div class="col-md-offset-3 col-md-6">
                 <form class="form-horizontal" style="overflow-x: hidden;" method="POST">
                     {% csrf_token %}
                     <span class="heading">Пароль изменён</span>
                     <p style="margin-top: -10px;">Ваш пароль был успешно изменён!</p>
                 </form>
             </div>
        </div>
    </div>

{% endblock %}