{% extends "base.html" %}

{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block extended_css %}
    <link rel="stylesheet" href="{% static 'css/registration.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
             <div class="col-md-offset-3 col-md-6">
                 <form class="form-horizontal" action="." method="post">
                     <span class="heading">Смена пароля</span>
                     <p style="margin-top: -10px;">Воспользуйтесь формой ниже, чтобы сменить пароль.</p>

                     <div style="text-align: left;">
                     {{ form.as_p }}
                         </div>

                         <input type="submit" class="btn btn-default" style="background-color: #12c064; margin-top: 20px;" value="ИЗМЕНИТЬ"></p>
                         {% csrf_token %}
                     </form>
                 </form>
             </div>
        </div>
    </div>




{% endblock %}