<head>
    {% load static %}
    <script src="{% static 'js/main.js' %}"></script>
</head>

{% block extended_css %}
    <!--<link rel="stylesheet" href="{% static 'css/menu.css/' %}">-->
    <link rel="stylesheet" href="{% static 'css/registration.css/' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!--<link rel="stylesheet" href="{% static 'css/menu2.css/' %}">
    <link rel="stylesheet" href="{% static 'css/menu2.scss/' %}">-->
    <link rel="stylesheet" href="{% static 'css/base.css/' %}">
{% endblock %}

<div id ="header">
    <span class="logo" style="font-size: 30px; padding-top: 5px;"><a href="/votings" style="text-decoration: none;">Voting</a></span>
    {% if request.user.is_authenticated %}
        <ul class="menu">
            <li class="selected" style="padding-top: 15px; font-size: 15px;" {% if section == "votings" %} {% endif %}>
                <a href="/profile/{{ request.user.username }} ">Профиль</a>
            </li>
            <li class="selected" style="padding-top: 15px; font-size: 15px;" {% if section == "registration" %} {% endif %}>
                <a href="/registration">Регистрация</a>
            </li>
            <li class="selected" style="padding-top: 15px; font-size: 15px;" {% if section == "login" %} {% endif %}>
                <a href="/login">Войти</a>
            </li>
        </ul>
    {% endif %}

    <span class="user" style="padding: 10px 10px;">
        {% if request.user.is_authenticated %}
            <b>Привет, {{ request.user.username }}&#160;&#160;&#160;&#160;&#160;&#160;&#160;</b>
            <button  type="button" class="btn btn-secondary" onclick="location.href='/logout'">Выйти</button>
        {% else %}
            <button  type="button" class="btn btn-secondary" onclick="location.href='/login'">Войти</button>
        {% endif %}
    </span>
</div>
<!--<div id ="content">

</div>-->

<!--<header>-->
<!--    <nav>-->
<!--  <ul class="menu">-->
<!--    <li><a href="/votings" style="font-size: 19px;">Голосования</a></li>-->
<!--    <li><a href="/votings/createvote" style="font-size: 19px;">Создать голосование</a></li>-->
<!--    <li><a href="/registration" style="font-size: 19px;">Регистрация</a></li>-->
<!--    <li><a href="/login" style="font-size: 19px;">Авторизация</a></li>-->
<!--  </ul>-->
<!--</nav>-->
<!--</header>-->

<!--
<header>
    <table cellspacing="0" id="table" height="70">
        <tr style="background-color:LightSalmon">
            <th align="left" style="text-align:center"><h1>
            <span class="heading">Сайт голосований</span>
        </h1></th>
             <th>
                <input type="button" value="Список голосований"
                            onclick="location.href='/votings'" class="tablebutton">
            </th>
            <th>
                <input type="button" value="Создать голосование"
                            onclick="location.href='/votings/createvote/'" class="tablebutton">
            </th>
            <th>
                <input type="button" value="Регистрация"
                            onclick="location.href='{% url 'registration' %}'" class="tablebutton">
            </th>
            <th width="160">
                <div id="menu" class="menuclass" style="text-align:center">
                    <input type="button" value="Профиль"
                            onselectstart="return false" onmousedown="return false" class="title"
                        onclick="return myFunc();">
                    <ul class="mydiv">
                        <input type="button" value="Login"
                            onclick="location.href='{% url 'login' %}'" class="button">
                        <br><br>
                        <input type="button" value="Logout"
                            onclick="location.href='{% url 'logout' %}'" class="button">
                    </ul>
                </div>
            </th>
        </tr>
    </table>
</header>-->

<script>
    setResolution();
</script>